@media screen and (max-width: 900px) {

  .question-res,
  .question-text{
    width: calc(100% - 20px);
  }

  .question-box {
    display: block;
  }
}

@media screen and (max-width: 770px) {
  div#main-content {
    margin: 30px 4vw 30px 4vw;
  }
  input#num-arabico, input#num-romano, .buttons{
    width:90px;
  }
  div#number-input{
    margin: 0 0 0 20px;
  }
}

@media screen and (max-width: 475px) {
  .preco-qtd-inputs-style{
    margin:20px 0 0 0;
  }
}

@media screen and (max-width: 420px) {
  .ppl-nome-inputs-style, .itens-nome-inputs-style{
    width:130px;
  }
}